# Data
data/raw/
data/processed/*.nc
*.nc

# Keep CSVs
!data/processed/*.csv

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Settings json
.vscode/settings.json
